body{
    background-image: url("https://img.freepik.com/vetores-gratis/vector-abstrato-preto-e-dourado-fundo-de-luxo_361591-3874.jpg?w=1380&t=st=1713751926~exp=1713752526~hmac=120229fc344ffd16e4e43a6a6f8598b1715024bc3ad5dabdbecd996bbf6c88af");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
}